<hr>
<div style="padding-bottom: 20px;">
    <h3>fxLayout Directive</h3>
    <div fxLayout="{{data}}">
        <div style="width: 200px;height: 50px; background-color: purple;">First Div</div>
        <div style="width: 200px;height: 50px; background-color: red;">Second Div</div>
        <div style="width: 200px;height: 50px; background-color: blue;">Third Div</div>
        <div style="width: 200px;height: 50px; background-color: maroon;">Fourth Div</div>
    </div>
    <div fxLayout fxLayoutAlign="center" fxLayoutGap="10px" style="margin-top:10px;">
        <input type="radio" name="select" value="row" #row (click)="fxlayout(row)">row
        <input type="radio" name="select" value="column" #column (click)="fxlayout(column)">column
        <input type="radio" name="select" value="row-reverse" #rowreverse (click)="fxlayout(rowreverse)">row-reverse
        <input type="radio" name="select" value="column-reverse" #columnreverse (click)="fxlayout(columnreverse)">column-reverse
    </div>
<hr>  
    <h3>fxLayoutGap Directive</h3>
    <div fxLayout="{{data1}}" fxLayoutGap="10px">
        <div style="width: 200px;height: 50px; background-color: purple;">First Div</div>
        <div style="width: 200px;height: 50px; background-color: red;">Second Div</div>
        <div style="width: 200px;height: 50px; background-color: blue;">Third Div</div>
        <div style="width: 200px;height: 50px; background-color: maroon;">Fourth Div</div>
    </div>
    <div fxLayout fxLayoutAlign="center" fxLayoutGap="10px" style="margin-top:10px;">
        <input type="radio" name="select" value="row" #row (click)="fxlayoutgap(row)">row
        <input type="radio" name="select" value="column" #column (click)="fxlayoutgap(column)">column
        <input type="radio" name="select" value="row-reverse" #rowreverse (click)="fxlayoutgap(rowreverse)">row-reverse
        <input type="radio" name="select" value="column-reverse" #columnreverse (click)="fxlayoutgap(columnreverse)">column-reverse
    </div>
<hr>  
    <h3>fxlayout="row" fxLayoutAlign Directive</h3>
    <div fxLayoutAlign="{{data2}}">
        <div style="width: 50px;height: 50px; background-color: purple;">First Div</div>
        <div style="width: 50px;height: 50px; background-color: red;">Second Div</div>
        <div style="width: 50px;height: 50px; background-color: blue;">Third Div</div>
        <div style="width: 50px;height: 50px; background-color: maroon;">Fourth Div</div>
    </div>
    <div fxLayout fxLayoutAlign="center" fxLayoutGap="10px" style="margin-top:10px;">
        <input type="radio" name="select" value="start" #start (click)="fxlayoutAlign(start)">start
        <input type="radio" name="select" value="center" #center (click)="fxlayoutAlign(center)">center
        <input type="radio" name="select" value="end" #end (click)="fxlayoutAlign(end)">end
        <input type="radio" name="select" value="space-between" #spacebetween (click)="fxlayoutAlign(spacebetween)">space-between
        <input type="radio" name="select" value="space-around" #spacearound (click)="fxlayoutAlign(spacearound)">space-around
        <input type="radio" name="select" value="space-evenly" #spaceevenly (click)="fxlayoutAlign(spaceevenly)">space-evenly
        <input type="radio" name="select" value="stretch" #stretch (click)="fxlayoutAlign(stretch)">stretch 
        <input type="radio" name="select" value="start start" #startstart (click)="fxlayoutAlign(startstart)">start start
        <input type="radio" name="select" value="start centre" #startcenter (click)="fxlayoutAlign(startcenter)">start center
        <input type="radio" name="select" value="start end" #startend (click)="fxlayoutAlign(startend)">start end
        <input type="radio" name="select" value="center center" #centercenter (click)="fxlayoutAlign(centercenter)">center center
    </div>
<hr>  
    <h3>fxLayout="column" fxLayoutAlign Directive</h3>
    <div fxLayout="column" fxLayoutAlign="{{data3}}">
        <div style="width: 50px;height: 50px; background-color: purple;">First Div</div>
        <div style="width: 50px;height: 50px; background-color: red;">Second Div</div>
        <div style="width: 50px;height: 50px; background-color: blue;">Third Div</div>
        <div style="width: 50px;height: 50px; background-color: maroon;">Fourth Div</div>
    </div>
    <div fxLayout fxLayoutAlign="center" fxLayoutGap="10px" style="margin-top:10px;">
        <input type="radio" name="select" value="start" #start (click)="fxlayoutAligncol(start)">start
        <input type="radio" name="select" value="center" #center (click)="fxlayoutAligncol(center)">center
        <input type="radio" name="select" value="end" #end (click)="fxlayoutAligncol(end)">end
        <input type="radio" name="select" value="space-between" #spacebetween (click)="fxlayoutAligncol(spacebetween)">space-between
        <input type="radio" name="select" value="space-around" #spacearound (click)="fxlayoutAligncol(spacearound)">space-around
        <input type="radio" name="select" value="space-evenly" #spaceevenly (click)="fxlayoutAligncol(spaceevenly)">space-evenly
        <input type="radio" name="select" value="stretch" #stretch (click)="fxlayoutAligncol(stretch)">stretch 
        <input type="radio" name="select" value="start start" #startstart (click)="fxlayoutAligncol(startstart)">start start
        <input type="radio" name="select" value="start centre" #startcenter (click)="fxlayoutAligncol(startcenter)">start center
        <input type="radio" name="select" value="start end" #startend (click)="fxlayoutAligncol(startend)">start end
        <input type="radio" name="select" value="center center" #centercenter (click)="fxlayoutAligncol(centercenter)">center center
    </div>
<hr>
    <h3>fxFlex Directive</h3>
    <div >
        <div fxFlex style="background-color: purple;">
            fxFlex
        </div>
        <div fxFlex="200px" style="background-color: red;">
            fxFlex="200px"
        </div>
        <div fxFlex="100px" style="background-color: blue;">
            fxFlex="100px"
        </div>
        <div fxFlex="50px" style="background-color: maroon;">
            fxFlex="50px"
        </div> 
        <div  style="width:50px;height: 50px; background-color: pink;">
            Fourth Div
        </div> 
    </div> 
<hr>
    <h3>fxFlexAlign Directive</h3>
        <div fxLayout='column'>
            <div fxFlexAlign="{{data5}}" style="width:150px;height: 100px; background-color: purple;">
                fxFlexAlign="start"
            </div>
            <div fxFlexAlign="{{data5}}" style="width: 150px;height: 100px; background-color: red;">
                fxFlexAlign="center"
            </div>
            <div fxFlexAlign="{{data5}}" style="width: 150px;height: 100px; background-color: blue;">
                fxFlexAlign="end"
            </div> 
        </div> 
        <div fxLayout fxLayoutAlign="center" fxLayoutGap="10px" style="margin-top:10px;">
            <input type="radio" name="select" value="start" #first (click)="fxflexalign(first)">start
            <input type="radio" name="select" value="center" #second (click)="fxflexalign(second)">center
            <input type="radio" name="select" value="end" #third (click)="fxflexalign(third)">end 
        </div>
<hr>
    <h3>fxShow And fxHide Directive</h3>
    <div fxLayout='column' fxLayoutGap="10px" fxLayoutAlign="center center" fxHide.lg="false" fxHide.xs="false" fxHide.sm="true">
        <div style="width:150px;height: 100px; background-color: purple;" > 
            fxHide.lg="false" fxHide.xs="false" fxHide.sm="true"
        </div>
        <div style="width: 150px;height: 100px; background-color: red;"> 
            fxHide.lg="false" fxHide.xs="false" fxHide.sm="true"
        </div> 
    </div>      
<hr>  
        <h3>fxLayout Directive</h3>
        <div fxLayout fxLayoutGap="10px">
            <div fxFlexOrder="4" style="width: 200px;height: 50px; background-color: purple;">1</div>
            <div fxFlexOrder="3" style="width: 200px;height: 50px; background-color: red;">2</div>
            <div fxFlexOrder="2" style="width: 200px;height: 50px; background-color: blue;">3</div>
            <div fxFlexOrder="1" style="width: 200px;height: 50px; background-color: maroon;">4</div>
        </div> 
</div> 