<div>
    <h2 style="width: 100%;height: 30px; background-color: purple;">
        fxFlexOrder is used only on child element...
    </h2>

    <h3>fxLayout Directive</h3>
    <div fxLayout fxLayoutGap="10px">
        <div fxFlexOrder="4" style="width: 200px;height: 50px; background-color: purple;">1</div>
        <div fxFlexOrder="3" style="width: 200px;height: 50px; background-color: red;">2</div>
        <div fxFlexOrder="2" style="width: 200px;height: 50px; background-color: blue;">3</div>
        <div fxFlexOrder="1" style="width: 200px;height: 50px; background-color: maroon;">4</div>
    </div> 
</div>