<div>
    <h2 style="width: 100%;height: 30px; background-color: purple;">
        fxShow And fxHide is used on parent element...
    </h2>

    <h3>fxShow And fxHide Directive</h3>
    <div fxLayout='column' fxLayoutGap="10px" fxLayoutAlign="center center" fxHide.lg="false" fxHide.xs="false" fxHide.sm="true">
        <div style="width:150px;height: 100px; background-color: purple;" > 
            fxHide.lg="false" fxHide.xs="false" fxHide.sm="true"
        </div>
        <div style="width: 150px;height: 100px; background-color: red;"> 
            fxHide.lg="false" fxHide.xs="false" fxHide.sm="true"
        </div>
        <div style="width: 150px;height: 100px; background-color: blue;"> 
            fxHide.lg="false" fxHide.xs="false" fxHide.sm="true"
        </div> 
        <div style="width: 150px;height: 100px; background-color: orange;"> 
            fxHide.lg="false" fxHide.xs="false" fxHide.sm="true"
        </div>
    </div> 
</div>