<div>
    <h2 style="width: 100%;height: 30px; background-color: purple;">
        fxFlexAlign is used to apply align on single element...
    </h2>

    <h3>fxFlexAlign Directive</h3>
    <div fxLayout='column'>
        <div fxFlexAlign="start" style="width:150px;height: 100px; background-color: purple;">
            fxFlexAlign="start"
        </div>
        <div fxFlexAlign="center" style="width: 150px;height: 100px; background-color: red;">
            fxFlexAlign="center"
        </div>
        <div fxFlexAlign="end" style="width: 150px;height: 100px; background-color: blue;">
            fxFlexAlign="end"
        </div> 
    </div> 
</div>