<div>
    <h2 style="width: 100%;height: 30px; background-color: purple;">
        fxLayoutGap is a directive used to define the gap between child element of
         parent element(define on parent element)...
    </h2>

    <h3>fxLayout fxLayoutGap="10px" Directive</h3>
    <div fxLayout fxLayoutGap="10px"> 
        <div style="width: 200px;height: 50px; background-color: purple;">First Div</div>
        <div style="width: 200px;height: 50px; background-color: red;">Second Div</div>
        <div style="width: 200px;height: 50px; background-color: blue;">Third Div</div>
        <div style="width: 200px;height: 50px; background-color: maroon;">Fourth Div</div> 
    </div>

    <hr>

    <h3>fxLayout="row-reverse" fxLayoutGap="10px" Directive</h3>
    <div fxLayout="row-reverse" fxLayoutGap="10px"> 
        <div style="width: 200px;height: 50px; background-color: purple;">First Div</div>
        <div style="width: 200px;height: 50px; background-color: red;">Second Div</div>
        <div style="width: 200px;height: 50px; background-color: blue;">Third Div</div>
        <div style="width: 200px;height: 50px; background-color: maroon;">Fourth Div</div> 
    </div>

    <hr>

    <h3>fxLayout="column" fxLayoutGap="10px" Directive</h3>
    <div fxLayout="column" fxLayoutGap="10px">
        <div style="width: 200px;height: 50px; background-color: purple;">First Div</div>
        <div style="width: 200px;height: 50px; background-color: red;">Second Div</div>
        <div style="width: 200px;height: 50px; background-color: blue;">Third Div</div>
        <div style="width: 200px;height: 50px; background-color: maroon;">Fourth Div</div>
    </div> 

    <hr>

    <h3>fxLayout="column-reverse" fxLayoutGap="10px" Directive</h3>
    <div fxLayout="column-reverse" fxLayoutGap="10px"> 
        <div style="width: 200px;height: 50px; background-color: purple;">First Div</div>
        <div style="width: 200px;height: 50px; background-color: red;">Second Div</div>
        <div style="width: 200px;height: 50px; background-color: blue;">Third Div</div>
        <div style="width: 200px;height: 50px; background-color: maroon;">Fourth Div</div> 
    </div>
</div>