<div fxLayout fxLayoutGap="20px">
    <a [routerLink]="['/flexLayout']">flexLayout Directive</a>
    <a [routerLink]="['/flexLayoutGap']">flexLayoutGap Directive</a>
    <a [routerLink]="['/flexLayoutAlign']">flexLayoutAlign Directive</a>
    <a [routerLink]="['/fxFlex']">fxFlex Directive</a>
    <a [routerLink]="['/fxFlexOffset']">fxFlexOffset Directive</a>
    <a [routerLink]="['/fxFlexAlign']">fxFlexAlign Directive</a>
    <a [routerLink]="['/fxShowAndfxHide']">fxShow & fxHide Directive</a>
    <a [routerLink]="['/fxFlexOrder']">fxFlexOrder</a>
    <a [routerLink]="['/examples']">Examples</a>
</div>


<router-outlet></router-outlet> 