<div>
    <h2 style="width: 100%;height: 30px; background-color: purple;">
        fxFlex is used to resize of element within a flexbox container flow...
    </h2>

    <h3>fxFlex Directive</h3>
    <div> 
        <div fxFlex style="background-color: purple;">
            fxFlex
        </div>
        <div fxFlex="200px" style="background-color: red;">
            fxFlex="200px"
        </div>
        <div fxFlex="100px" style="background-color: blue;">
            fxFlex="100px"
        </div>
        <div fxFlex="50px" style="background-color: maroon;">
            fxFlex="50px"
        </div> 
        <div  style="width:50px;height: 50px; background-color: pink;">
            Fourth Div
        </div> 
    </div> 

    <hr>

    <h3>fxLayout="column" fxFlex Directive</h3>
    <div fxLayout="column"> 
        <div fxFlex style="background-color: purple;">
            fxFlex
        </div>
        <div fxFlex="200px" style="background-color: red;">
            fxFlex="200px"
        </div>
        <div fxFlex="100px" style="background-color: blue;">
            fxFlex="100px"
        </div>
        <div fxFlex="50px" style="background-color: maroon;">
            fxFlex="50px"
        </div> 
        <div  style="width:50px;height: 50px; background-color: pink;">
            Fourth Div
        </div> 
    </div>  

    <hr>

    <h3>fxLayout="column" fxFlex Directive with width property</h3>
    <div fxLayout="column"> 
        <div fxFlex style="width:100px;background-color: purple;">
            fxFlex
        </div>
        <div fxFlex="200px" style="width:100px;background-color: red;">
            fxFlex="200px"
        </div>
        <div fxFlex="100px" style="width:100px;background-color: blue;">
            fxFlex="100px"
        </div>
        <div fxFlex="50px" style="width:100px;background-color: maroon;">
            fxFlex="50px"
        </div> 
        <div  style="width:50px;height: 50px; background-color: pink;">
            Fourth Div
        </div> 
    </div>  
</div>