<div>
    <h2 style="width: 100%;height: 30px; background-color: purple;">
        fxLayoutAlign is used only on parent element...
    </h2>

    <h3>fxLayoutAlign="start" Directive</h3>
    <div fxLayoutAlign="start">
        <div style="width: 100px;height: 50px; background-color: purple;">First Div</div>
        <div style="width: 100px;height: 50px; background-color: red;">Second Div</div>
        <div style="width: 100px;height: 50px; background-color: blue;">Third Div</div>
        <div style="width: 100px;height: 50px; background-color: maroon;">Fourth Div</div>
    </div>

    <hr>

    <h3>fxLayoutAlign="center" Directive</h3>
    <div fxLayoutAlign="center">
        <div style="width: 100px;height: 50px; background-color: purple;">First Div</div>
        <div style="width: 100px;height: 50px; background-color: red;">Second Div</div>
        <div style="width: 100px;height: 50px; background-color: blue;">Third Div</div>
        <div style="width: 100px;height: 50px; background-color: maroon;">Fourth Div</div>
    </div>

    <hr>

    <h3>fxLayoutAlign="end" Directive</h3>
    <div fxLayoutAlign="end">
        <div style="width: 100px;height: 50px; background-color: purple;">First Div</div>
        <div style="width: 100px;height: 50px; background-color: red;">Second Div</div>
        <div style="width: 100px;height: 50px; background-color: blue;">Third Div</div>
        <div style="width: 100px;height: 50px; background-color: maroon;">Fourth Div</div>
    </div>

    <hr>

    <h3>fxLayoutAlign="space-between" Directive</h3>
    <div fxLayoutAlign="space-between">
        <div style="width: 100px;height: 50px; background-color: purple;">First Div</div>
        <div style="width: 100px;height: 50px; background-color: red;">Second Div</div>
        <div style="width: 100px;height: 50px; background-color: blue;">Third Div</div>
        <div style="width: 100px;height: 50px; background-color: maroon;">Fourth Div</div>
    </div>

    <hr>

    <h3>fxLayoutAlign="space-around" Directive</h3>
    <div fxLayoutAlign="space-around">
        <div style="width: 100px;height: 50px; background-color: purple;">First Div</div>
        <div style="width: 100px;height: 50px; background-color: red;">Second Div</div>
        <div style="width: 100px;height: 50px; background-color: blue;">Third Div</div>
        <div style="width: 100px;height: 50px; background-color: maroon;">Fourth Div</div>
    </div>

    <hr>

    <h3>fxLayoutAlign="space-evenly" Directive</h3>
    <div fxLayoutAlign="space-evenly">
        <div style="width: 100px;height: 50px; background-color: purple;">First Div</div>
        <div style="width: 100px;height: 50px; background-color: red;">Second Div</div>
        <div style="width: 100px;height: 50px; background-color: blue;">Third Div</div>
        <div style="width: 100px;height: 50px; background-color: maroon;">Fourth Div</div>
    </div>

    <hr>

    <h3>fxLayoutAlign="stretch" Directive</h3>
    <div fxLayoutAlign="stretch">
        <div style="width: 100px;height: 50px; background-color: purple;">First Div</div>
        <div style="width: 100px;height: 50px; background-color: red;">Second Div</div>
        <div style="width: 100px;height: 50px; background-color: blue;">Third Div</div>
        <div style="width: 100px;height: 50px; background-color: maroon;">Fourth Div</div>
    </div>

    <hr>

    <h3>fxLayoutAlign="start start" Directive</h3>
    <div fxLayoutAlign="start start">
        <div style="width: 100px;height: 50px; background-color: purple;">First Div</div> 
    </div>

    <hr>

    <h3>fxLayoutAlign="start centre" Directive</h3>
    <div fxLayoutAlign="start centre">
        <div style="width: 100px;height: 50px; background-color: purple;">First Div</div> 
    </div>

    <hr>

    <h3>fxLayoutAlign="start end" Directive</h3>
    <div fxLayoutAlign="start end">
        <div style="width: 100px;height: 50px; background-color: purple;">First Div</div> 
    </div>

    <hr>

    <h3>fxLayout="column" fxLayoutAlign="center center" Directive</h3>
    <div fxLayout="column" fxLayoutAlign="center center">
        <div style="width: 100px;height: 50px; background-color: purple;">First Div</div>
        <div style="width: 100px;height: 50px; background-color: red;">Second Div</div>
        <div style="width: 100px;height: 50px; background-color: blue;">Third Div</div>
        <div style="width: 100px;height: 50px; background-color: maroon;">Fourth Div</div>
    </div>
</div>